{% extends 'layout.njk'%}

{% block head %}
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
{% endblock %}

{% block content %}
  <div class="wrapper">
    <h1>Posts</h1>
  </div>
  <section class="cards">
    {% for card in cards %}
      <div class="card">
        <div class="card_image">
          <img alt="Capa do artigo" src="https://blog.rocketseat.com.br/content/images/size/w2000/2022/02/{{ card.technology }}-linguagem-rocketseat-blog.png">
        </div>
        <div class="card_info">
          <p>{{ card.title }}</p>
        </div>
        <div class="card_content">
          <p>{{ card.author }}</p>
          <p class="button" id="{{ card.id }}">Ler</p>
        </div>
      </div>
    {% endfor %}
  </section>
  <script src="scripts.js"></script>
{% endblock %}
