{% extends 'layout.njk' %}

{% block head %}
  <title>About - Martins</title>
{% endblock %}

{% block content %}
  <div class="wrapper">
    <img alt="{{ data.name }}" src="{{ data.avatar_url }}">
    <h1>{{ data.name }}</h1>
    <h2>{{ data.role }}</h2>
    <p>{{ data.description }}</p>
  </div>
  <div class="links" id="links-footer">
    {% for link in data.links %}
      <a href="{{ link.url }}">{{ link.name }}</a>
    {% endfor%}
  </div>
{% endblock %}
